{% extends 'base.html' %}


{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>


<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form id ='blogPostForm' class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

				<!-- title -->
				<div class="form-group">
					<label for="id_title">Title</label>
					<input class="form-control" type="text" name="title" id="id_title" placeholder="Title" required autofocus>
				</div>

				<!-- Body -->
				<div class="form-group">
					<label for="{{ form.body.id_for_label }}">Body</label>
					{{ form.body }}
				</div>
				
				<div>
				{{ form.status }}
				</div>

				<!-- Image -->
				<div class="form-group">
					<label for="id_image">Image</label>
					<input  type="file" name="image" id="id_image" accept="image/*" required>
				</div>

				<!--Printing field errors in the form-->
				{% for field in form %}
					<p>
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
				{% endfor %}
				{% if form.non_field_errors %}
					<div style="color: red">
						<p>{{form.non_field_errors}}</p>
					</div>
				{% endif %}


				<!--Success Message-->
				{% if is_saved %}
					<p id="message">{{success_message}}</p>
				{% endif %}
				
				<!-- Submit btn -->
				<button  class="submit-button btn btn-lg btn-primary btn-block"  type="button" onclick="saveAsDraft()">Save as Draft</button>
				<button  class="submit-button btn btn-lg btn-primary btn-block"  type="button" onclick="sendForReview()">Publish</button>
			</form>	
		</div>
	</div>
</div>
<script>
 function saveAsDraft() {
        document.getElementById('id_status').value = 'draft';
		document.getElementById('blogPostForm').submit();
		// document.getElementById('message').innerHTML='the blog is successfully saved to the Draft'
        // You can add additional logic or actions here if needed
    }

    function sendForReview() {
        document.getElementById('id_status').value = 'in_review';
		document.getElementById('blogPostForm').submit();
		// document.getElementById('message').innerHTML='the blog is sent for approval to publish'
        // You can add additional logic or actions here if needed
    }
</script>
{% endblock content %}