{% extends 'base.html' %}
{% load static %}
{% block content %}


<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

    .card {
        border: none;
    }
	.lead{
		font-size: 17px;
	}
    .blog-post-title {
  font-size: 30px;
  font-weight: bold;
  color: #434745;
  margin-bottom: 30px;
  text-align: center;
  /* Add other styles as needed */
    }
    .blog-post-body {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  /* Add other styles as needed */
}
.blog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  #like_button, #comment_button, .share_button {
    padding: 10px 15px;
    background-color: rgba(255, 255, 254, 0);
    border: none;
    border-radius: 5px;
    color: none;
    cursor: pointer;
  }
  
  #like_button:hover, #comment_button:hover, .share_button:hover {
    background-color: #323147;
  }


</style>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>



<div class="container p-0">
	<div class="row">
		<!-- blog feed -->
		<div class="col-lg-9 p-0">
		<div class="container">
            <div class="row">
            <!--Blog Post-->
                <div class="card m-auto">
                    <h2 class="blog-post-title">{{blog_post.title}}</h2>
                    <img class= "card-img-top" src="{{blog_post.image.url}}">
                    <div class="blog-post-body">
                       {{blog_post.body|safe}}
                        {% if blog_post.author == request.user %}
                            <p><a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a></p>
                        {% endif %}
                    </div>
                <div class="card-footer text-muted">
                Updated on {{blog_post.date_updated}} by {{blog_post.author}}

                </div>
            </div>
        <!--End Blog Post-->
        </div>
    </div>
</div>
		<!-- end blog feed -->


		<!-- Right 'create post' column  -->
		<div class="col-lg-3 d-lg-flex d-none flex-column">
		{% include 'personal/snippets/right_side_snippet.html'%}
		</div>
		<!-- end Right 'create post' column  -->

	</div>

    <div class="row">
        <div class="col-lg-1 p-0"><button id="like_button"  title="Like"><img src="{% static 'like button.png' %}" alt="" style="max-width: 100%; max-height: 100%; height: 40px;"></button>
            <span id="likes_count">{{likes_count }} Likes</span> 
        </div>
        
        <div class="col-lg-1 p-0"><button id="comment_button"><img src="{% static 'comment button.png' %}" alt=""  style="max-width: 100%; max-height: 100%; height: 40px"></button></div>
        
        <div class="col-lg-1 p-0">
            <div class="dropdown text-end">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle px-2 share_button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'share button.png' %}" alt="" style="max-width: 100%; max-height: 100%; height: 40px" ></a>
                <ul class="dropdown-menu text-small">
                  <!-- Facebook button -->                    
                  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">Share on Facebook</a></li>
                  <!-- Twitter button -->
                  <li><a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check out this post!" target="_blank">Share on Twitter</a></li>
                  <!-- LinkedIn button {not working at the moment}-->
                  <li><a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ request.build_absolute_uri }}&title=Check out this post!" target="_blank">Share on LinkedIn</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <!-- Copy to clipboard button -->
                  <li> <button class="copy-to-clipboard-button" data-clipboard-text="{{ request.build_absolute_uri }}">Copy to clipboard!</button></li>
                </ul>
              </div>
            </div>
            <script>
                var clipboard = new ClipboardJS('.copy-to-clipboard-button');
            
                clipboard.on('success', function(e) {
                    console.log('Copied to clipboard!');
                    // You can add additional code here, such as displaying a success message.
                });
            
                clipboard.on('error', function(e) {
                    console.error('Error copying to clipboard:', e.action);
                    // You can add additional code here, such as displaying an error message.
                });
            </script>
    </div>

    <div id="comments_section" style="display: none;">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.content }}</p>
                <p>By {{ comment.author }} on {{ comment.created_at }}</p>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
<!-- Comment submission form -->
<form method="POST" action="{% url 'blog:comment_submit' blog_post.slug %}">
    {% csrf_token %}
    <label for="comment_text">Comment:</label>
    <textarea id="comment_text" name="comment_text"></textarea>
    
    <button type="submit">Submit Comment</button>
</form>

<script>
    const commentsSection = document.getElementById("comments_section");
    const showCommentsButton = document.getElementById("comment_button");
    let commentsVisible = false;

    showCommentsButton.addEventListener("click", function() {
        if (commentsVisible) {
            commentsSection.style.display = "none";
            commentsVisible = false;
        } else {
            commentsSection.style.display = "block";
            commentsVisible = true;
        }
    });

    
    const likeButton = document.getElementById("like_button");
    const likesCount = document.getElementById("likes_count");
    // Function to change the hover text
    const changeHoverText = (text) => {
        likeButton.setAttribute("title", text);
    };

    likeButton.addEventListener("click", () => {
        // Call your AJAX request and update the hover text dynamically
        fetch("{% url 'blog:like_post' blog_post.slug %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.liked) {
                changeHoverText("Unlike");
                if (likesCount==0)
                    likes_count.innerHTML = "No likes";
                else
                    likes_count.innerHTML = data.likes_count + " likes";
                
            } else {
                changeHoverText("Like");
                if (likesCount==0)
                    likes_count.innerHTML = "No likes";
                else
                    likes_count.innerHTML = data.likes_count + " likes";            
                }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

    
</div>
 
{% endblock content %}


