
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<style>
    .form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.header_color{
  background-color: rgb(82, 214, 137);
}
</style>

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom shadow-sm header_color">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 m-auto">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">About</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">Contact</a></li>
      </ul>
    {% if request.user.is_authenticated %}

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle px-2" data-bs-toggle="dropdown" aria-expanded="false">{{request.user.username}}</a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Update DP</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
              </ul>
            </div>        
    {% else %}
        <div class="col-md-3 text-end">
            <a href ="{% url 'login' %}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <a href ="{% url 'register' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
        </div>
    {% endif %}
</div>
