{% extends 'base.html' %} {% load static %} {% block content %}
<!-- In your base.html or a new CSS file -->

<style>
  body {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  h1 {
    margin-top: 20px;
    color: #0d274e;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  p {
    margin-top: 20px;
  }

  h4 {
    color:  #0d274e;
  }
  b {
    color: rgb(1, 10, 53);
  }
  i {
    color: #617c00;
  }
  .about-container{
    color: rgb(0, 0, 0);
  }
  .heading-sec{
    width:100%;
    margin:0px;
    }
</style>
<div class="container">
  <div class="heading-sec">
    <h1>About</h1>
  </div>
  <div class="row about-container">
    <div class="col-lg-7">
      <p>
        Hi, I'm Anugrah Gupta, just a curious soul sailing through the digital
        waves of the internet. 🌊✨
      </p>

      <p>
        I'm new to the field of writing, but consider this place my playground, where I
        simply plan to enjoy, embracing my thoughts and ideas as I go
      </p>

      <h4>Why does this blog exist?</h4>
      <ul>
        <li>
          I want to share what I learn - no fluff, just practical insights.
        </li>
        <li>Create a community where we can figure things out together.</li>
        <li>
          Explore the mysteries of our world without getting too philosophical.
        </li>
        <li>Solve big problems together (or at least attempt to).</li>
        <li>
          Experience the joy of creating from imagination - no sugarcoating,
          just raw creativity.
        </li>
        <li>
          This is where I spill my thoughts, learnings, and plans. No
          formalities.
        </li>
      </ul>

      <h4>What I write about?</h4>
      <ul>
        <li>Everyday life - the good, the bad, and the mundane.</li>
        <li>Mental Health - because let's be real, it matters.</li>
        <li>Common problems we all face and my unfiltered take on them.</li>
        <li>
          Out-of-context topics that catch my interest: AI, universe, physics,
          atoms, brain science, chess, sports, etc.
        </li>
      </ul>

       <h4>What am I promising?</h4>
      <ul>
        <li><b>Authenticity: </b>Don't want me to repeat what you have already read? I am not planning to, it's super boring.</li>
        <li><b>Continuous learning: </b>Expect fresh ideas and thoughts because I'm constantly on the hunt for answers, ready to share my discoveries with you.</li>
        <li><b>Engagement: </b>This is not a blog rather a bubble of all of our thoughts</li>
        <li><b>Fun: </b>Expect a sprinkle of humor and a light-hearted approach towards the serious stuff.</li>
        <li><b>Stick-Figures: </b>Because they are awesome and I like to draw.</li>
        <li><b>Uncertainity: </b>At this point, the direction of this blog is uncertain, so brace yourself for plenty of changes in every aspect.</li>
        <li><b>Imperfection: </b>Mistakes here, there,  everywhere.</li>
      </ul>

      <p><i>Stick around, and let's see where this takes us.</i></p>
    </div>
    <div class="imagecontainer col-lg-5 p-0">
      <img src="{% static 'Anugrah.jpg' %}" alt="Anugrah" />
    </div>
  </div>
</div>
{% endblock content %}
