{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<h1>About</h1>
<img src="{% static 'Anugrah.jpg' %}" style="max-width: 500px; max-height: 500px;"> </img>

<p>Hi I am Anugrah Gupta. A Computer Science greaduate looking to do a lot of things. But, for as long as I can remember, starting a blog has been my top most priority. So, here it is, my home on the internet. <br>
    It's a start. I am not a writer, not yet anyway. <br>
    <b>Why does this blog exist?</b><br>
    <ul>
        <li> I want to share what I learn</li>
        <li>A place where I belong, a community of my own</li>
        <li>I want to explore the hidden secrets of our world. That can make it all better.</li>
        <li>Solve the big problems together</li>
        <li>It's fun to write. It's powerful to create from your imagination</li>
        <li>I have a lot in my mind and this is the place where i share what i learnt, did, or going to do.</li>
    </ul>
    <b> What I write about?</b>
    <ul>
        <li>Everyday life</li>
        <li>Mental Health</li>
        <li>Common problems we all face and my take on them</li>
        <li>Out of context, things that fascinates me AI, universe, physics, atoms, brain science, chess, sports, etc...</li>
    </ul>
    <i>tune in and wish me luck.</i>
</p>
</div>
{% endblock content %}
