{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
		margin-right: 10px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
		float: right;
	}
	.lead{
		font-size: 17px;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<!-- blog feed -->
		{% include 'personal/snippets/body_snippet.html'%}
		<!-- end blog feed -->


		<!-- Right 'create post' column  -->
		{% include 'personal/snippets/right_side_snippet.html'%}
		<!-- end Right 'create post' column  -->

	</div>
</div>

{% endblock content %}


