{% extends 'base.html' %}
{% block content %}
<!--<div style="border: 5px solid rgb(255, 7, 7)">-->
<div class="container m-auto">
   <h1 class ="display-4">Welcome to my first website</h1>
    <p class="lead"lead>I will be using this to shout out loud</p>
</div>    

<div class="container">
<div class="d-flex flex-column">
   <h4>Registered Users:</h4>
   {% for account in account_list %}
      <p>{{account}}</p>
   {% endfor %}
   <p>{% include 'personal/snippets/body_snippet.html' with value='BUBBLE OF THOUGHTS' %}
   </p>
</div>

</div>

{% endblock content%}