<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is title</title>
    <a href="{% url 'home' %}"> Home</a>
    {% if request.user.is_authenticated %}
        <p> Hello, {{request.user.username}} | <a href ="{% url 'logout' %}"> logout</a></p>
    {% else %}
    <p>   
        <a href ="{% url 'register' %}"> New user? Register here</a> |
        <p>Already a user? <a href = "{% url 'login' %}"> login </a> </p> 
    </p>

    {% endif %}
    <hr>

</head>
<body>
{% block content%}

{% endblock content %}

</body>
<footer>
    <hr>
    <p>this is the footer</p>
</footer>
</html>