
<style>
    .latest-posts {
      padding: 0px;
    }
  
    .latest-posts h2 {
      font-size: 36px;
      font-weight: bold;
    }
  
    .post {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  
    .post-image {
      flex: 1;
      max-width: calc(25% - 10px);
    }
  
    .post-image img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-right: 10px;
    }
  
    .post-content {
      flex: 3;
      margin-left: 20px;
    }
  
    .post-content h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .post-content .post-body {
      margin-bottom: 10px;
    }
  
    .post-content .post-meta {
      font-size: 14px;
      color: #666;
    }
    .link{
      text-decoration: none;
      color: rgb(6, 47, 109)
    }
    
  .hr-style {
  border: 1px solid;
  border-color: #002253;  /* You can replace this color with your preferred color */
  }
  </style>

<div class="latest-posts">
    <h2>Latest Posts</h2>
    <hr>
  
    {% for post in latest_posts %}
      <div class="post">
        <div class="post-image">
          <a href="{% url 'blog:detail' post.slug %}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
        </div>
        <div class="post-content">
          <h3><a href="{% url 'blog:detail' post.slug %}" class="link">{{ post.title }}</a></h3>
          <p class="post-body">{{ post.body|striptags|truncatechars:180 }}</p>
          <p class="post-meta"><small>{{ post.date_published|date:"F j, Y" }} by {{ post.author }}</small></p>
        </div>
      </div>
      <hr>
    {% endfor %}
    <hr class="hr-style">
  </div>
  