<style type="text/css">
	.card{
		max-width: 100%;
		width:100%;
	}
	.card-body{
		padding: 20px;
	}
    .highlighted_post{
        max-height: 100%;
    }
    .popular_post_section{
        margin-bottom: 5px;
    }
    .popular_post{
        margin: 10px;
        padding: 0px;
        max-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .right_col{
      margin-right: 0px;
    }
    .left_col{
      margin-left: 0px;
    }
    .popular {
    padding: 60px 0;
  }
  
  .popular h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .popular .card {
    margin-bottom: 30px;
    height: 400px;
    width: 400px;
  }
  
  .popular .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .popular .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .popular .card-text {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .popular .btn-primary {
    background-color: #3f51b5;
    border-color: #3f51b5;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .popular .btn-primary:hover {
    background-color: #2c3e50;
    border-color: #2c3e50;
  }
  
</style>
<!-- 
<div class="blog-post-container highlighted_post">
    {% include 'blog/snippets/blog_post_snippet.html' with blog_post=blog_post %}
</div> -->
<section class="popular">
    <div class="container">
      <h2>Popular Posts</h2>
      <div class="row">
        {% for post in popular_posts %}
        <div class="col-md-6">
          <div class="card">
            <a href="{% url 'blog:detail' post.slug %}">
              <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.summary }}</p>
              <p> {{post.read_count}}</p>
              <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>