<style type="text/css">

  .highlighted_post{
        max-height: 100%;
        flex: 1;
  }
  .popular{
    margin-left: 0px;
  }
  .popular h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    margin-top:20px;
  }
  
  .popular .card {
    margin-bottom: 30px;
    width: 400px;
    min-height: 400px;
    max-height: 100%;
    border: none;
    background-color: none;
  }
  
  .popular .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .popular .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(6, 47, 109)
  }
  
  
  .popular .btn-primary {
    background-color: #002864;
    border-color: #002864;
    font-size: 0.7rem;
    font-weight: 700;
  }
  
  .popular .btn-primary:hover {
    background-color: #3b3531;
    border-color: #2c3e50;
  }
  .no-underline {
  text-decoration: none;
}
.popular .card-footer {
  text-align: center;
  border: none;
  margin-top: 5px;
  background-color: rgba(172, 255, 47, 0);
}

.popular .card-footer-text {
    font-size: 1.0rem;
    color: #6e0101;
  }
</style>
<!-- 
<div class="blog-post-container highlighted_post">
    {% include 'blog/snippets/blog_post_snippet.html' with blog_post=blog_post %}
</div> -->
<section class="popular">
    <div class="container p-0">
      <h1>Popular Posts</h1>
      <div class="row">
        {% for post in popular_posts %}
        <div class="col-md-6">
          <div class="card">
            <a href="{% url 'blog:detail' post.slug %}">
              <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
            </a>
            <div class="card-body">
              <a href="{% url 'blog:detail' post.slug %}" class="no-underline">
                <h5 class="card-title">{{ post.title }}</h5> 
              </a>
            </div>
            <div class="card-footer"> 
            <p class="card-footer-text"><small class="text-muted">{{ post.date_published|date:"F j, Y" }} by {{ post.author }}</small></p>
            <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>