{% load static %}
<div class="right-column col-lg-3 m-0 d-lg-flex d-none flex-column" style="background-color: black;">

    <div class="card create-post-bar d-flex flex-column p-3">
        <img class="img-fluid d-block m-auto pb-2" src="{% static 'codingwithmitch_logo.png' %}" width="72" height="72">
        <p class="lead">Side Bar</p>
        <p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
    </div>

    <!--Social Media Follow-->
    <div>

    </div>
    <!--End Social Media Follow-->

    <!--Recent Posts-->
    <div>

    </div>
    <!--End Recent Posts-->
    <!--Ad-->
    <div>

    </div>
    <!--End Ad-->
    
    
</div>
<!-- end Right 'create post' column  -->

</div>