{% load static %}

<style>
.sidebar {
  position: sticky;
  top: 0;
  right: 0;
  width: 80%;
  margin-left: 20%;
}


.email-subscriber {
  margin-bottom: 20px;
  margin-top: 20%;
}

.email-subscriber h3 {
  margin-bottom: 10px;
}

.email-subscriber input[type="email"],
.email-subscriber input[type="text"],
.email-subscriber button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.email-subscriber input[type="email"] {
  width: 100%;
  margin-right: 10px;
}

.email-subscriber button {
  background-color: #0e162c;
  color: #fff;
  cursor: pointer;
}

.social-media h3 {
  margin-bottom: 10px;
}

.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media a {
  color: #fff;
  font-size: 20px;
  display: block;
  height: 50px;
  width: 50px;
  background-color:#0e162c;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-bottom: 85px;
}
.email-input{
  background-color: rgb(193, 232, 255);
  border-style: none;
}
.name-input{
  background-color: rgb(193, 232, 255);
  border-style: none;
  margin-bottom:2px;
}
</style>

<div class="sidebar">
  <!-- Email Subscriber field -->
  <div class="email-subscriber">
      <h3>Subscribe to our newsletter</h3>
      <form id="subscribe-form" action="{% url 'blog:subscribe' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
              {{ subscriber_form.name }}
              {{ subscriber_form.email }}
          </div>
          <button type="button" id="subscribe-button">Subscribe</button>
      </form>
  </div>

  <!-- Social media follow icons -->
  <div class="social-media">
      <h3>Follow us</h3>
      <ul>
          <li><a href="https://twitter.com/AnugrahGup430" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/bubbleofthoughts_official/" target="_blank"><i
                      class="fab fa-instagram"></i></a></li>
      </ul>
  </div>
</div>

<script>$(document).ready(function () {
  $('#subscribe-button').click(function () {
      $.ajax({
          type: 'POST',
          url: '{% url "blog:subscribe" %}',
          data: $('#subscribe-form').serialize(),
          success: function (response) {
            console.log($('#subscribe-form').serialize())
              if (response.success) {
                  console.log(response.message);
                  alert(response.message);
              } else {
                  alert(response.message);
                  // Output the errors to the console for debugging
                  console.log(response.errors);
              }
          }
      });
  });
});
</script>
