{% load static %}

    <div class="card create-post-bar d-flex flex-column p-3">
        <img class="img-fluid d-block m-auto pb-2" src="{% static 'pen and script.jpg' %}" width="72" height="72">
        <p class="lead">Side Bar</p>
        <p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
    </div>

    <!--Social Media Follow-->
    <div>
        <a href="https://www.facebook.com/">    
            <img src="{% static 'facebook button.png' %}" alt="facebook"  width="30%" height="50px"> 
        </a>
        <a href="https://www.instagram.com/" >    
            <img src="{% static 'insta logo.png' %}" alt="instagram" width="30%" height="50px"> 
        </a>
    </div>
    <!--End Social Media Follow-->

    <!--Recent Posts-->
    <div>

    </div>
    <!--End Recent Posts-->
    <!--Ad-->
    <div>

    </div>
    <!--End Ad-->
    
<!-- end Right 'create post' column  -->

